<template>
  <div class="form-check" :class="{'form-check-inline': config.inline}">
    <input :id="'checkbox' + config.id" type="checkbox" class="form-check-input"
           :checked="config.value" @change="onInput">
    <label :for="'checkbox' + config.id" class="form-check-label">{{config.label}}</label>
  </div>
</template>

<script>
  export default {
    name: 'checkbox-field',
    props: {
      config: Object
    },
    methods: {
      onInput(event) {
        this.$emit('onValueChange', event.target.checked);
      }
    }
  };
</script>
