<template>
  <div class="form-group">
    <label>{{config.label}}</label>
    <input :value="config.value" @input="onInput" class="form-control" :placeholder="config.placeholder">
  </div>
</template>

<script>
  export default {
    name: 'text-field',
    props: {
      config: Object
    },
    methods: {
      onInput(event) {
        this.$emit('onValueChange', event.target.value);
      }
    }
  };
</script>
