<template>
  <div>
    <alert v-for="(alert, index) in alerts" :key="alert.id" :config="alert"></alert>
  </div>
</template>
<script>
  import Alert from './Alert.vue';
  import bus from './bus';

  export default {
    name: 'alerts-list',
    components: {
      'alert': Alert
    },
    props: {
      timeout: { type: Number, default: 3000 }
    },
    data() {
      return {
        counter: 0,
        alerts: []
      }
    },

    created() {
      bus.$on('addAlert', this.addAlert);
    },
    methods: {
      addAlert(config) {
        //need calculate position for an alerts of same type to avoid collision - too long for test task sorry
        if (this.alerts.find(alert => alert.type === config.type)) {
          return;
        }
        const alert = Object.assign({}, config, {id: ++this.counter});
        this.alerts.push(alert);
        setTimeout(() => {
          this.alerts.shift();
        }, this.timeout);
      }
    }
  };
</script>
