<template>
  <div class="alert w-50" :class="['alert-'+ settings.type, 'alert-position-' + settings.position]">
    <h4 v-if="settings.title" class="alert-heading">{{settings.title}}</h4>
    {{settings.message}}
  </div>
</template>

<script>
  export default {
    name: 'alert',
    props: {
      config: Object
    },
    data() {
      return {
        settings: {
          type: 'success',
          message: 'Hello from Alert',
          position: 'top'
        }
      }
    },
    created() {
      this.settings = Object.assign({}, this.settings, this.config || {});
    }
  };
</script>
<style lang="scss">
  .alert {
    position: absolute !important; // to override bootstrap default relative
    margin: 0 auto;

    &.alert-position-top {
      left: 25%;
      top: 0;
    }

    &.alert-position-left {
      top: 50%;
      left: 0;
    }

    &.alert-position-right {
      top: 50%;
      right: 0;
    }

    &.alert-position-bottom {
      left: 25%;
      bottom: 0;
    }
  }
</style>
