<template>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success"
            @click="showAlert({type: alertTypes.Success, position: alertPositions.Left})">Success Left</button>
    <button type="button" class="btn btn-primary"
            @click="showAlert({type: alertTypes.Primary, position: alertPositions.Top})">Primary Top</button>
    <button type="button" class="btn btn-warning"
            @click="showAlert({type: alertTypes.Warning, position: alertPositions.Right})">Warning Right</button>
    <button type="button" class="btn btn-danger"
            @click="showAlert({type: alertTypes.Danger, position: alertPositions.Bottom})">Danger Bottom</button>
  </div>
</template>

<script>
  import Alert from '../plugins/alert/Alert.vue';
  import {AlertTypes, AlertPositions} from '../constants';
  export default {
    name: 'alerts-demo',
    data() {
      return {
        alertTypes: AlertTypes,
        alertPositions: AlertPositions
      }
    },
    methods: {
      showAlert(config) {
        this.$alert(config);
      }
    }
  };
</script>
