<template>
  <b-modal title="Export" ref="exportModal" :hide-footer="true">
    <form @submit.prevent="submit">
      <checkbox v-for="(type, key) in exportTypes" @onValueChange="onFieldChange($event, key)"
                :config="type" :key="key"></checkbox>
      <div class="mt-3 text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </b-modal>
</template>

<script>
  import Checkbox from './shared/Checkbox.vue';

  export default {
    name: 'export',
    components: {
      'checkbox': Checkbox
    },
    data() {
      return {
        exportTypes: {
          pdf: {
            id: 1,
            label: 'PDF',
            inline: true,
            value: false
          },
          csv: {
            id: 2,
            label: 'CSV',
            inline: true,
            value: false
          },
          xls: {
            id: 3,
            label: 'XLS',
            inline: true,
            value: false
          }
        }
      }
    },
    created() {
      const params = this.$route.params;
      if (!params.type) {
        return;
      }
      const exportType = this.exportTypes[params.type];
      if (exportType) {
        exportType.value = true;
      }
    },
    mounted() {
      this.$refs.exportModal.show();
    },
    methods: {
      onFieldChange(value, selectedKey) {
        for (let key in this.exportTypes) {
          this.exportTypes[key] =  Object.assign(this.exportTypes[key], {value: selectedKey === key ? value : false});
        }
        this.$router.push({name: 'export', params: {type: value ? selectedKey : undefined}});
      },
      submit() {
        for (let key in this.exportTypes) {
          console.log(`${this.exportTypes[key].label} : ${this.exportTypes[key].value}`);
        }
      }
    }
  };
</script>
