<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">This is a Form</h5>
      <form @submit.prevent="submit">
        <component v-for="(field, key) in form" :is="field.type" :key="field.id" :config="field"
                   @onValueChange="onFieldChange($event, key)"></component>
        <div class="mt-3 text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import CheckboxField from './shared/Checkbox.vue';
import TextField from './shared/TextInput.vue';
import form from '../models/form';

export default {
  name: 'form-component',
  components: {
    'checkbox-field': CheckboxField,
    'text-field': TextField
  },
  data() {
    return {
      form
    }
  },
  methods: {
    onFieldChange(value, key) {
      this.form[key] = Object.assign(this.form[key], {value});
    },
    submit() {
      for (let key in this.form) {
        console.log(`${this.form[key].label} : ${this.form[key].value}`);
      }
    }
  }
};
</script>
