<template>
  <div id="app">
    <div class="card container">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item" v-for="(task, index) in tasks" :key="index">
            <router-link class="nav-link" :class="{'active': isCurrentRoute(task.key)}" :to="task.to">{{task.name}}</router-link>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <router-view/>
      </div>
    </div>
    <alerts></alerts>
  </div>
</template>
<script>
  import Alerts from './plugins/alert/AlertsList.vue';

  export default {
    name: 'app-component',
    components: {
      'alerts': Alerts
    },
    data() {
      return {
        tasks: [{
          name: 'Form',
          to: '/',
          key: 'form'
        }, {
          name: 'Alerts Demo',
          to: '/alerts',
          key: 'alerts'
        }, {
          name: 'Export',
          to: '/export',
          key: 'export'
        }]
      }
    },
    methods: {
      isCurrentRoute(name) {
        return this.$route.name === name;
      }
    }
  };
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
